.page {
   margin: 0 auto;
}

.filter-container {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   gap: 1rem;
}

.btn-edit {
   background: none;
   border: none;
   color: var(--text);
   cursor: pointer;
   padding: 0.25rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

    .btn-edit:hover {
        color: var(--primary);
    }

.table-footer {
   padding: 1rem;
   background-color: var(--primary);
   color: var(--text);
   font-weight: 600;
   letter-spacing: 0.05em;
   text-align: left;
   border-radius: 0 0 0.5rem 0.5rem;
}