::deep table {
   min-width: 100%;
}

/* Subtle stripe effect */
::deep tr:nth-child(even) {
   background: lightgrey
}

/* Don't collapse rows even if they are empty */
::deep tbody tr {
   height: 1.8rem;
}