<div style="margin: 5%">
  <p>{{ currentAppointment?.title || "Currently no appointment is available." }}</p>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ healSelect1?.group || "Boon Healer" }}</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="healSelect1">
        <mat-option>None</mat-option>
        <mat-optgroup label="Heal Quick" [disabled]="boonSelect1?.group === 'DpsQuick'">
          <mat-option
            *ngFor="let participant of quickHealPlayers"
            [value]="{ group: 'HealQuick', user: participant }"
            [disabled]="disabledPlayers.includes(participant.id)"
            >{{ participant.name }}</mat-option
          >
        </mat-optgroup>
        <mat-optgroup label="Heal Alac" [disabled]="boonSelect1?.group === 'DpsAlac'">
          <mat-option
            *ngFor="let participant of alacHealPlayers"
            [value]="{ group: 'HealAlac', user: participant }"
            [disabled]="disabledPlayers.includes(participant.id)"
          >
            {{ participant.name }}</mat-option
          >
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ boonSelect1?.group || "Boon Dps" }}</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="boonSelect1">
        <mat-option>None</mat-option>
        <mat-optgroup label="Dps Quick" [disabled]="healSelect1?.group === 'HealQuick'">
          <mat-option
            *ngFor="let participant of quickPlayers"
            [value]="{ group: 'DpsQuick', user: participant }"
            [disabled]="disabledPlayers.includes(participant.id)"
            >{{ participant.name }}</mat-option
          >
        </mat-optgroup>
        <mat-optgroup label="Dps Alac" [disabled]="healSelect1?.group === 'HealAlac'">
          <mat-option
            *ngFor="let participant of alacPlayers"
            [value]="{ group: 'DpsAlac', user: participant }"
            [disabled]="disabledPlayers.includes(participant.id)"
          >
            {{ participant.name }}</mat-option
          >
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DPS</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="dpsSelect11">
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let participant of dpsPlayers"
          [value]="{ group: 'Dps', user: participant }"
          [disabled]="disabledPlayers.includes(participant.id)"
          >{{ participant.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DPS</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="dpsSelect12">
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let participant of dpsPlayers"
          [value]="{ group: 'Dps', user: participant }"
          [disabled]="disabledPlayers.includes(participant.id)"
          >{{ participant.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DPS</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="dpsSelect13">
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let participant of dpsPlayers"
          [value]="{ group: 'Dps', user: participant }"
          [disabled]="disabledPlayers.includes(participant.id)"
          >{{ participant.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ healSelect2?.group || "Boon Healer" }}</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="healSelect2">
        <mat-option>None</mat-option>
        <mat-optgroup label="Heal Quick" [disabled]="boonSelect2?.group === 'DpsQuick'">
          <mat-option
            *ngFor="let participant of quickHealPlayers"
            [value]="{ group: 'HealQuick', user: participant }"
            [disabled]="disabledPlayers.includes(participant.id)"
            >{{ participant.name }}</mat-option
          >
        </mat-optgroup>
        <mat-optgroup label="Heal Alac" [disabled]="boonSelect2?.group === 'DpsAlac'">
          <mat-option
            *ngFor="let participant of alacHealPlayers"
            [value]="{ group: 'HealAlac', user: participant }"
            [disabled]="disabledPlayers.includes(participant.id)"
          >
            {{ participant.name }}</mat-option
          >
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ boonSelect2?.group || "Boon Dps" }}</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="boonSelect2">
        <mat-option>None</mat-option>
        <mat-optgroup label="Dps Quick" [disabled]="healSelect2?.group === 'HealQuick'">
          <mat-option
            *ngFor="let participant of quickPlayers"
            [value]="{ group: 'DpsQuick', user: participant }"
            [disabled]="disabledPlayers.includes(participant.id)"
            >{{ participant.name }}</mat-option
          >
        </mat-optgroup>
        <mat-optgroup label="Dps Alac" [disabled]="healSelect2?.group === 'HealAlac'">
          <mat-option
            *ngFor="let participant of alacPlayers"
            [value]="{ group: 'DpsAlac', user: participant }"
            [disabled]="disabledPlayers.includes(participant.id)"
          >
            {{ participant.name }}</mat-option
          >
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DPS</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="dpsSelect21">
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let participant of dpsPlayers"
          [value]="{ group: 'Dps', user: participant }"
          [disabled]="disabledPlayers.includes(participant.id)"
          >{{ participant.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DPS</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="dpsSelect22">
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let participant of dpsPlayers"
          [value]="{ group: 'Dps', user: participant }"
          [disabled]="disabledPlayers.includes(participant.id)"
          >{{ participant.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DPS</mat-label>
      <mat-select (selectionChange)="onSelect($event)" [(ngModel)]="dpsSelect23">
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let participant of dpsPlayers"
          [value]="{ group: 'Dps', user: participant }"
          [disabled]="disabledPlayers.includes(participant.id)"
          >{{ participant.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button (click)="postLineUp()" i18n>Post line up</button>
  </div>
</div>
