SCRUFFY_AUTHORITY=TODO
SCRUFFY_ENVIRONMENT=Test
SCRUFFY_OPENSEARCH=TODO
SCRUFFY_OPENSEARCH_USER=TODO
SCRUFFY_OPENSEARCH_PASSWORD=TODO
SCRUFFY_DB_CATALOG=Scruffy_Test
SCRUFFY_DB_DATA_SOURCE=TODO
SCRUFFY_DB_PASSWORD=TODO
SCRUFFY_DB_USER=TODO
SCRUFFY_DISCORD_TOKEN=TODO
SCRUFFY_DISCORD_SERVER_ID=TODO