<AuthorizeView>
    <Authorized>
        <div>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="@_currentUrl"/>
                <button type="submit" class="primary-button">
                    Logout
                </button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <form action="Account/Login" method="get">
                <button type="submit" class="primary-button">
                    Login
                </button>
            </form>
        </div>
    </NotAuthorized>
</AuthorizeView>