@inherits LayoutComponentBase

<div class="page">
   <main class="content">
      @Body
   </main>

   <header class="header">
       <div class="logo">
           <div class="logo-background">
               <img src="logo.png" alt="Logo" class="logo-img" />
           </div>
           <div class="logo-label">Forces of Imagination</div>
       </div>
       <div class="navigation-menu">
           <NavigationMenu/>
       </div>
       <div class="login-menu">
           <LoginMenu/>
       </div>
   </header>
</div>