* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.page {
   display: flex;
   flex-direction: column-reverse;
}

.header {
   grid-template-columns: auto 1fr auto;
   height: 4rem;
   position: sticky;
   top: 0;
   border-bottom: 1px solid #ccc;
   display: grid;
   align-items: center;
   justify-content: center;
   background-color: var(--background-alt);
   border-bottom: 0.25rem solid var(--primary);
   padding-left: 1rem;
   padding-right: 1rem;
}

.logo {
   display: flex;
   flex-direction: row;
   align-items: center;
   grid-row: 1;
   grid-column: 1;
}

.logo-background {
   width: 34px;
   height: 34px;
   background-color: var(--primary);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-img {
   width: 32px;
   height: 32px;
}

.logo-label {
   padding-left: 1rem;
   font-weight: bold
}

.navigation-menu {
   grid-row: 1;
   grid-column: 1 / span 3;
   justify-self: center;
}

.login-menu {
   grid-row: 1;
   grid-column: 3;
}

main {
   flex: 1;
   overflow: auto;
   min-height: calc(100vh - 4rem);
}

.limiter {
   min-height: calc(100vh - 4rem);
   max-width: 1400px;
   margin: 0 auto;
   position: relative;
   box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 30px rgba(0, 0, 0, 0.7);
}

   .limiter::before,
   .limiter::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: var(--accent);
   }

   .limiter::before {
      left: 0;
   }

   .limiter::after {
      right: 0;
   }

   .limiter::before,
   .limiter::after {
      box-shadow: 0 0 15px var(--accent);
      opacity: 0.4;
   }

.content {
   padding: 1rem 4rem;
}