* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.page {
   display: flex;
   flex-direction: column-reverse;
}

.header {
   grid-template-columns: auto 1fr auto;
   height: 4rem;
   position: sticky;
   top: 0;
   border-bottom: 1px solid #ccc;
   display: grid;
   align-items: center;
   justify-content: center;
   background-color: var(--background-alt);
   border-bottom: 0.25rem solid var(--primary);
   padding-left: 1rem;
   padding-right: 1rem;
}

.logo {
   display: flex;
   flex-direction: row;
   align-items: center;
   grid-row: 1;
   grid-column: 1;
}

.logo-background {
   width: 34px;
   height: 34px;
   background-color: var(--primary);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-img {
   width: 32px;
   height: 32px;
}

.logo-label {
   padding-left: 1rem;
   font-weight: bold
}

.navigation-menu {
   grid-row: 1;
   grid-column: 1 / span 3;
   justify-self: center;
}

.login-menu {
   grid-row: 1;
   grid-column: 3;
}

.content {
   flex: 1;
   overflow: auto;
   padding: 1rem;
}