.chart-outer-container {
   display: grid;
   grid-template-rows: auto 1fr auto;
   width: 100%;
   height: 100%;
   max-width: 100%;
   max-height: 100%;
   box-sizing: border-box;
   background-color: var(--background);
   border: 3px solid var(--primary);
   border-radius: 20px;
   padding: 30px;
}

.chart-title {
   grid-row: 1;
   padding-bottom: 30px;
}

   .chart-title p {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
   }

.chart-innter-container {
   grid-row: 2;
   position: relative;
   width: 100%;
   height: 100%;
   max-width: 100%;
   max-height: 100%;
}

.chart-description {
   grid-row: 3;
   padding-top: 30px;
}

canvas {
   position: absolute
}
