select {
   width: 100%;
   height: 100%;
   background-color: transparent;
   border-left: 1px solid transparent;
   border-right: 1px solid transparent;
   border-top: 0px solid transparent;
   border-bottom: 0px solid transparent;
   color: var(--text);
   padding: 0rem 0rem 0rem 0.5rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
   select:hover {
      border-color: var(--secondary-border-focus);
   }

   select:focus {
      border-color: var(--secondary-border-focus);
      outline: 0
   }

   select option {
      padding: 0.5rem;
      background-color: var(--background);
      color: var(--text);
   }

   select optgroup {
      color: var(--text);
      padding: 0.5rem 0;
      background-color: var(--secondary);
   }

      select optgroup option {
         padding-left: 1rem;
      }

   select option:hover {
      background-color: var(--background-alt) !important;
   }

   select option:disabled {
      color: var(--text-disabled);
      cursor: not-allowed;
   }
