@if (_isInitialized)
{
   @if (IsLoading)
   {
       <div class="loading-container">
           <div @key="@("IsLoadingContainer")" class="spinner-container">
               <div @key="@("IsLoadingSpinner")" class="@GetSpinnerClasses()"></div>
           </div>
           @if (string.IsNullOrWhiteSpace(Hint) == false)
           {
               <div class="loading-hint">@Hint</div>
           }
       </div>
   }
   else
   {
      @ChildContent
   }
}