@if (_isInitialized)
{
   @if (IsLoading)
   {
      <div @key="@("IsLoadingContainer")" class="spinner-container">
         <div @key="@("IsLoadingSpinner")" class="@GetSpinnerClasses()"></div>
      </div>
   }
   else
   {
      @ChildContent
   }
}