table {
  width: 100%;
  vertical-align: top;
}
canvas {
  width: 600px;
  height: 600px;
}

.mat-cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.mat-header-cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.mat-footer-cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.mat-cell:first-child {
  text-align: left;
}

.mat-header-cell {
  text-align: left;
}

.chart-mat-accordion {
  width: 100%;
}
