<mat-table #table [dataSource]="rows">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    <mat-footer-cell *matFooterCellDef="">Percentage of players</mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="dps">
    <mat-header-cell *matHeaderCellDef>DPS</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.isDamageDealer ? "✔️" : "" }} </mat-cell>>
    <mat-footer-cell *matFooterCellDef="">{{ getPercentage(constants.RaidRoleDamageDealer) * 100 }} %</mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="dps-alacrity">
    <mat-header-cell *matHeaderCellDef>Alacrity | DPS</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.isDamageDealerAlacrity ? "✔️" : "" }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef=""
      >{{ getPercentage(constants.RaidRoleDamageDealerAlacrity) * 100 }} %</mat-footer-cell
    >
  </ng-container>
  <ng-container matColumnDef="dps-quickness">
    <mat-header-cell *matHeaderCellDef>Quickness | DPS</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.isDamageDealerQuickness ? "✔️" : "" }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef=""
      >{{ getPercentage(constants.RaidRoleDamageDealerQuickness) * 100 }} %</mat-footer-cell
    >
  </ng-container>
  <ng-container matColumnDef="healer-alacrity">
    <mat-header-cell *matHeaderCellDef>Alacrity | Heal</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.isHealerAlacrity ? "✔️" : "" }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef=""
      >{{ getPercentage(constants.RaidRoleHealerAlacrity) * 100 }} %</mat-footer-cell
    >
  </ng-container>
  <ng-container matColumnDef="healer-quickness">
    <mat-header-cell *matHeaderCellDef>Quickness | Heal</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.isHealerQuickness ? "✔️" : "" }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef=""
      >{{ getPercentage(constants.RaidRoleHealerQuickness) * 100 }} %</mat-footer-cell
    >
  </ng-container>
  <ng-container matColumnDef="tank-dps-alacrity">
    <mat-header-cell *matHeaderCellDef>Tank | Alacrity | DPS</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.isTankDamageDealerAlacrity ? "✔️" : "" }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef=""
      >{{ getPercentage(constants.RaidRoleTankDamageDealerAlacrity) * 100 }} %</mat-footer-cell
    >
  </ng-container>
  <ng-container matColumnDef="tank-dps-quickness">
    <mat-header-cell *matHeaderCellDef>Tank | Alacrity | DPS</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.isTankDamageDealerQuickness ? "✔️" : "" }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef=""
      >{{ getPercentage(constants.RaidRoleTankDamageDealerQuickness) * 100 }} %</mat-footer-cell
    >
  </ng-container>
  <ng-container matColumnDef="tank-healer-alacrity">
    <mat-header-cell *matHeaderCellDef>Tank | Alacrity | Heal</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.isTankHealerAlacrity ? "✔️" : "" }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef=""
      >{{ getPercentage(constants.RaidRoleTankHealerAlacrity) * 100 }} %</mat-footer-cell
    >
  </ng-container>
  <ng-container matColumnDef="tank-healer-quickness">
    <mat-header-cell *matHeaderCellDef>Tank | Alacrity | Heal</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.isTankHealerQuickness ? "✔️" : "" }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef=""
      >{{ getPercentage(constants.RaidRoleTankHealerQuickness) * 100 }} %</mat-footer-cell
    >
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
</mat-table>

<mat-accordion class="chart-mat-accordion">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Role distribution chart</mat-panel-title>
    </mat-expansion-panel-header>
    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [legend]="barChartLegend" [type]="'bar'">
    </canvas>
  </mat-expansion-panel>
</mat-accordion>
