@import "src/utilities/variables";

table {
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
canvas {
  width: 600px;
  height: 600px;
}

.mat-cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: middle;
  max-height: 48px;
}

.mat-cell:not(.mat-column-name) {
  justify-content: center;
}

.mat-column-name {
  min-width: 100px;
}

.mat-column-name:not(.mat-header-cell) {
  background-color: $light-yellow;
}

.mat-header-cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  align-content: center;
  background-color: $dark-blue;
  color: #ffffff;
}

.mat-header-cell:not(.mat-column-name) {
  // Because of line breaks both properties are needed
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 1373px) {
  .mat-header-cell-text {
    display: none;
  }
}

.mat-footer-cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.mat-footer-cell:not(.mat-column-name) {
  // Because of line breaks both properties are needed
  justify-content: center;
  text-align: center;
}

.mat-cell:first-child {
  text-align: left;
}

mat-header-cell:last-child {
  padding-right: 0px;
}

mat-cell:last-child {
  padding-right: 0px;
}

mat-footer-cell:last-child {
  padding-right: 0px;
}

.chart-mat-accordion {
  width: 100%;
}

.mat-header-cell-special-role-box {
  display: flex;
  flex-wrap: wrap;
}

.mat-header-cell-special-role-img {
  width: 24px;
  height: 24px;
  margin: 2px;
}

.mat-header-cell-img {
  width: 24px;
  height: 24px;
  margin: 2px;
}
