@page
@model Scruffy.ServiceHosts.IdentityServer.Pages.Home.Index

<div class="welcome-page">
    <h1>
        <img src="~/Scruffy.png" width="64px" height="64px" class="logo">
        Welcome to the IdentityServer used by Scruffy
    </h1>

    <ul>
        <li>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </li>
    </ul>
</div>