@page "/Ranking/Personal"

@rendermode InteractiveServer

@using Scruffy.WebApp.Components.Controls

<PageTitle>FooI - Ranking - Personal</PageTitle>

<div class="full-size-page">
   <div class="charts-container">
      <div class="chart-distribution">
         <Chart Type="bar" Data="@_distributionChartData" Options="@_distributionChartOptions" Description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."/>
      </div>
      <div class="chart-history">
         <Chart Type="line" Data="@_historyChartData" Options="@_historyChartOptions" Description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." />
      </div>
   </div>
</div>