.page {
   min-height: 1000px;
   max-height: 1000px;
   width: 100%;
   height: 100%;
   flex: 1 0 auto;
}

.charts-container {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   width: 100%;
   height: 100%;
   flex: 1 0 auto;
}

.chart-max-points-outer {
    grid-column: 1;
    grid-row: 1;
}

.chart-max-points-inner {
   width: 100%;
   height: 100%;
}