a {
   text-decoration: none;
}

.page-container {
   display: table-column;
   flex-direction: row;
   margin: 0 auto;
}

.state-icon {
   font-family: 'Material Icons';
   font-size: 24px;
   color: white;
   display: inline-flex;
   align-items: center;
}

   .state-icon::before {
      font-style: normal;
      content: var(--icon-name);
   }

.state-icon-success {
   --icon-name: "check";
}

.state-icon-failure {
   --icon-name: "close";
}

.skill-level-0 {
   color: #dc2626;
}

.skill-level-1 {
   color: #f59e0b;
}

.skill-level-2 {
   color: #16a34a;
}

.logs-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

::deep tr {
   height: 2.6rem;
}

::deep .quickgrid-std tbody tr {
   cursor: pointer;
}

.table-footer {
   padding: 1rem;
   background-color: var(--primary);
   color: var(--text);
   font-weight: 600;
   letter-spacing: 0.05em;
   text-align: left;
   border-radius: 0 0 0.5rem 0.5rem;
}