h3, h5 {
   text-align: center
}

.page-container {
   display: table-column;
   flex-direction: row;
   margin: 0 auto;
}

.state-icon {
   font-family: 'Material Icons';
   font-size: 24px;
   color: white;
   display: inline-flex;
   align-items: center;
}

   .state-icon::before {
      font-style: normal;
      content: var(--icon-name);
   }

.state-icon-success {
   --icon-name: "check";
}

.state-icon-failure {
   --icon-name: "close";
}

.skill-level-0 {
   color: #dc2626;
}

.skill-level-1 {
   color: #f59e0b;
}

.skill-level-2 {
   color: #16a34a;
}