@page "/Raid/Participation"

@using Scruffy.WebApp.Components.Controls

@rendermode InteractiveServer

<PageTitle>FooI - Raid - Participation</PageTitle>

<div class="full-size-page">
   <Chart Type="bar" Data="@_chartData" Options="@_chartOptions" />
</div>