.quickgrid-container {
   display: flex;
   flex-direction: row;
   align-items: flex-start
}

.roles-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 8px;
}

.role-icon {
   width: 24px;
   height: 24px;
   background-repeat: no-repeat;
   background-size: contain;
}

.role-icon-dps {
   background-image: url('assets/icons/Power.png');
}

.role-icon-quickness {
   background-image: url('assets/icons/Quickness.png');
}

.role-icon-alacrity {
   background-image: url('assets/icons/Alacrity.png');
}

.role-icon-hand-kiter {
   background-image: url('assets/icons/HandKiter.png');
}

.role-icon-pusher {
   background-image: url('assets/icons/Pusher.png');
}

.role-icon-q1-kiter {
   background-image: url('assets/icons/Quadim1Kiter.png');
}

.role-icon-q2-kiter {
   background-image: url('assets/icons/Quadim2Kiter.png');
}

::deep .role-column .col-title {
   justify-content: center;
}

::deep .role-column {
   width: 192px;
}

::deep .role-column:last-child {
   width: 320px;
}

.table {
   display: table;
   width: 100%;
   margin-bottom: 0px;
}

.table-row {
   display: table-row;
}

.table-cell {
   width: 192px;
   padding: 0.1rem 1.4rem 0.1rem 0.4rem;
   display: table-cell;
   background-color: #2d3748;
   font-weight: 600;
   color: var(--bs-body-color);
   text-align: center;
}

.table-cell:first-child {
   width: auto;
   text-align: left;
   align-content: center;
}

.table-cell:last-child {
   width: 320px;
   text-align: left
}

.statistics-row {
   display: table;
   width: 100%;
   border-top: 2px solid #4a5568;
}

.statistics-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
}

.btn-export {
   width: 150px;
   margin-top: 1rem;
   margin-left: 2rem;
}

.options-container {
   display: flex;
   flex-direction: row;
}

.checkbox-activeplayers {
   display: flex;
   flex-direction: row;
   border: 3px solid #4a5568;
   border-radius: 10px;
   padding: 0.5rem;
   margin-top: 1rem;
}

.label-activeplayers {
   margin-left: 0.5rem;
}