.quickgrod-container {
   display: flex;
   flex-direction: row;
   align-items: flex-start
}

.roles-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 8px;
}

.role-icon {
   width: 24px;
   height: 24px;
   background-repeat: no-repeat;
   background-size: contain;
}

.role-icon-dps {
   background-image: url('assets/icons/Power.png');
}

.role-icon-quickness {
   background-image: url('assets/icons/Quickness.png');
}

.role-icon-alacrity {
   background-image: url('assets/icons/Alacrity.png');
}

.role-icon-hand-kiter {
   background-image: url('assets/icons/HandKiter.png');
}

.role-icon-pusher {
   background-image: url('assets/icons/Pusher.png');
}

.role-icon-q1-kiter {
   background-image: url('assets/icons/Quadim1Kiter.png');
}

.role-icon-q2-kiter {
   background-image: url('assets/icons/Quadim2Kiter.png');
}

::deep .role-column .col-title {
   justify-content: center;
}