.full-size-page {
   flex: 1;
   width: 100%;
   height: calc(100vh - 7.5rem);
   max-height: calc(100vh - 7.5rem);
   display: flex;
   justify-content: center;
   align-items: center;
}

scrollable-page {
   flex: 1;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: auto;
}