.quickgrid-std {
   border-radius: 0.5rem;
   overflow: hidden;
}

   .quickgrid-std table {
      min-width: 100%;
      border-collapse: collapse;
      color: var(--text);
   }

   .quickgrid-std thead {
      border-bottom: 2px solid var(--text);
   }

   .quickgrid-std th {
      padding: 1rem 1rem 1rem 0rem;
      text-align: left;
      background-color: var(--primary);
      font-weight: 600;
      letter-spacing: 0.05em;
   }

   .quickgrid-std td {
      padding: 0.75rem 1rem;
      border-bottom: 1px solid var(--text);
   }

   .quickgrid-std tr {
      height: 2rem;
      background-color: var(--background)
   }

   .quickgrid-std tr:hover {
      background-color: var(--background-alt)
   }

   .quickgrid-std .sort-indicator {
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(151deg) brightness(115%) contrast(102%);
   }

   .quickgrid-std .col-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
   }

   .quickgrid-std .col-title-text {
      color: var(--text);
      font-size: large;
   }