name: Publish to docker hub

on:
  push:
    branches: [ main ]

jobs:
  docker_publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Log in to Docker Hub
      uses: docker/login-action@v1.12.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build the Docker image
      run: docker build . --file ./Scruffy.ServiceHost/Dockerfile --tag thoenissen/scruffy:latest
      
    - name: Docker Push
      run: docker push thoenissen/scruffy
