<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8"/>
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <base href="/"/>
       <link rel="stylesheet" href="app.css"/>
       <link rel="stylesheet" href="css/page.css"/>
       <link rel="stylesheet" href="css/quickgrid.css"/>
       <link rel="stylesheet" href="Scruffy.WebApp.styles.css"/>
       <link rel="icon" type="image/png" href="favicon.png"/>
   
       <!-- 3rd-Party scripts -->
       <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
       <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
   
       <!-- Fonts -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
   
       <HeadOutlet/>
   </head>
   <body>
      <Routes/>
      <script src="_framework/blazor.web.js"></script>
   </body>
</html>