SCRUFFY_DB_CATALOG=TODO
SCRUFFY_DB_DATA_SOURCE=TODO
SCRUFFY_DB_PASSWORD=TODO
SCRUFFY_DB_USER=TODO
SCRUFFY_DISCORD_TOKEN=TODO
SCRUFFY_GOOGLE_API_KEY=TODO
SCRUFFY_GOOGLE_CSE_ID=TODO
SCRUFFY_DB_BACKUP_DIRECTORY=TODO
SCRUFFY_DEVELOPER_USER_IDS=TODO
SCRUFFY_DEBUG_CHANNEL=TODO
SCRUFFY_ENVIRONMENT=TODO
SCRUFFY_OPENSEARCH=TODO
SCRUFFY_OPENSEARCH_USER=TODO
SCRUFFY_OPENSEARCH_PASSWORD=TODO
SCRUFFY_GITHUB_USER=TODO
SCRUFFY_GITHUB_TOKEN=TODO